// Default Application Button Style
.btn-control {
  color: white;
  border: .5px gray solid;
  cursor: pointer;
  padding: 15px 20px;
  background-color: hotpink;
  font-family: 'Baloo Chettan', cursive;
}